.dropdown.checkbox input {
	width: 60px;
	display: inline;
	height: 25px;
}

.dropdown.checkbox button {
	height: 25px;
	margin-left: 10px;
	margin-right: 3px;
	padding: 3px 10px;
}

#estimate input {
	width: 45px;
	height: 25px;
	display: inline;
	margin-right: 10px;
}

#estimate button {
	margin-right: 10px;
}

#estimate li {
	margin-bottom: 10px;
}

.term {
	display: inline;
}

.panel-heading {
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f5f5f5), to(#e8e8e8));
}